h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

div.header {
	text-align: center;

	h2 {
		margin-bottom: 7px;
	}

	h5 {
		margin-top: 5px;
	}
}

#upgrade_list {
	padding: 0;

	&>* {
		display: none;
		text-align: center;
	}
}

#upgrade_annihilation_multiplier {
	display: none;
	text-align: center;
}

/* Resources Display */
div.resources {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.resources-item {
		min-width: 33%;
		max-width: 100%;
		text-align: center;
		display: none;

		h3 {
			margin-bottom: 5px;
		}

		h5 {
			margin-top: 5px;
		}
	}
}

/* Save */
div.data>div {
	display: flex;

	div {
		min-width: 50%;
		max-width: 100%;
		text-align: center;

		ul {
			list-style-type: none;
			padding: 0;
		}
	}
}

/* Statistics */
div.statistics>div {
	text-align: center;
}

#gen_breakdown {
	margin: auto;

	tbody>tr>td {
		&:nth-child(1) {
			text-align: right;
		}
		
		&:nth-child(2) {
			text-align: left;
		}
	}
}

/* About */
div.about>p {
	margin-left: 30%;
}
